# The host where this server is hosted. Eg. `harmonyapp.io:2289` or `harmonyapp.io:4444`.
# A port must always be specified.
host = ""

# Whether to listen on `localhost` or `0.0.0.0` (useful for docker).
listen_on_localhost = true

# The port to listen on.
port = 2289

# Whether to support CORS requests. Should only be used for
# development purposes, since this allows everything.
cors_dev = false

# Whether to log headers in traces. Authorization information
# will be marked as "sensitive" and won't be logged.
log_headers = false

[policy]

# Whether to disable registration and only allow it using admin generated tokens.
disable_registration = false

# Maximum amount of requests that should be processed concurrently.
# If set to 0, it will be disabled.
# Note: you'll want to increase this if your server has 100+ members.
max_concurrent_requests = 512

[policy.ratelimit]

# Whether to disable ratelimits or not (useful when testing / benching).
disable = false

# The header name to look at for client IPs. This is useful if scherzo is
# running behind a reverse proxy, where the requests will be made from one
# local address, and as such rate limiting will not work properly. By setting
# this to a header name such as "X-Forwarded-For", scherzo can use it to get
# client IP and use it for rate limiting.
# 
# By default this is not set. If the header can't be found in the request,
# scherzo will silently fallback to using connection IPs.
#
# client_ip_header_name = ""

# A list of allowed IP addresses that can bypass the rate limiter.
#
# Invalid IP addresses will be silently ignored. Note that these are
# *IP addresses* and as such they don't take a port.
#
# allowed_ips = ["127.0.0.1", "0.0.0.0", "::1"]

[db]

# Path to a directory to put db backups in.
db_backup_path = "."

# Database in-memory cache limit in MiB.
db_cache_limit = 1024

# (sled only) whether to increase throughput at the cost of more storage usage.
sled_throughput_at_storage_cost = false

# HTTPS settings
[tls]

# Path to the certificate file.
cert_file = "./cert"

# Path to the (private) key file.
key_file = "./key"

# Media settings
[media]

# Max upload length for files in MiB.
max_upload_length = 50

# Where to store media files.
media_root = "./media"

# Federation settings
[federation]

# Path to the federation key. This will be generated by the server automatically.
key = "./federation_key"

# Which hosts to allow. This takes priority over `host_block_list`.
host_allow_list = []

# Which hosts to block.
host_block_list = []