name: Rust

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - '**/*.nix'
      - 'nix/envrc'
      - 'flake.lock'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - '**/*.nix'
      - 'nix/envrc'
      - 'flake.lock'

env:
  CARGO_TERM_COLOR: always
  RUSTC_FORCE_INCREMENTAL: 1

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build scherzo
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt update -yy
        sudo apt install -yy --no-install-recommends protobuf-compiler lld musl-tools upx
    - name: Install rust
      run: rustup update && rustup component add rustfmt clippy

    - name: Cache rust
      uses: Swatinem/rust-cache@v1

    - name: Install Cargo Deny
      run: cargo install --locked cargo-deny

    - name: Cargo Deny
      run: cargo deny check

    - name: Clippy
      uses: actions-rs/clippy-check@v1
      with:
        args: "--target x86_64-unknown-linux-musl"
        token: ${{ secrets.GITHUB_TOKEN }}
        name: clippy

    - name: Test
      run: cargo test --target x86_64-unknown-linux-musl

    - name: Build
      run: cargo build --release --target x86_64-unknown-linux-musl
    
    - name: Pack with upx
      run: upx target/x86_64-unknown-linux-musl/release/scherzo

    - name: Upload release
      if: github.event_name == 'push'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
          chmod +x pyuploadtool-x86_64.AppImage
          ./pyuploadtool-x86_64.AppImage target/x86_64-unknown-linux-musl/release/scherzo

  update:
    needs: build
    name: Update Scherzo at harmonyapp.io
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - run: 'echo "$SSH_KEY" > key && chmod 600 key'
        shell: bash
        env:
          SSH_KEY: ${{secrets.ACTIONS_SSH_KEY}}
      - run: 'echo "$KNOWN_HOSTS" > known_hosts && chmod 600 known_hosts'
        shell: bash
        env:
          KNOWN_HOSTS: ${{secrets.ACTIONS_SSH_KNOWN_HOSTS}}
      - run: 'ssh -i key -o UserKnownHostsFile=known_hosts "root@$SSH_HOST" update-scherzo'
        shell: bash
        env:
          SSH_HOST: ${{secrets.ACTIONS_SSH_HOST}}
      - name: Trigger integration testing
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.INTEGRATION_TEST_PAT }}
          repository: harmony-development/integration-testing
          event-type: dep-updated

  docker:
    needs: build
    name: Update scherzo docker image
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: yusdacra/scherzo:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}